<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
   
    <style>
        form 
        {
            width: 550px;
            background-color: aquamarine;
            padding: 10px 15px 10px 15px;
            margin: auto;
        }
    </style>
</head>
<body>
     <div class="container">
        <form action="/register" method="post" class="mt-5">
        <h4 class="text-center font-family-cursive">Sign Up - Page</h4>
        <p class="text-center" id="result"></p>
        <div class="form-group">
            <label for="" class="form-control-label">Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="" class="form-control-label">Branch</label>
            <input type="text" name="branch"  class="form-control">
        </div>
        <div class="form-group">
            <label for="" class="form-control-label">Roll No.</label>
            <input type="number" name="roll"  class="form-control">
        </div>
        <div class="form-group">
            <label for="" class="form-control-label">Email</label>
            <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="" class="form-control-label">Password</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="" class="form-control-label">Confirm Password</label>
            <input type="password" name="cPassword" class="form-control">
        </div>
        <div class="form-group text-right">
             <p class="d-inline">Already Register ? </p>
             <a href="/login">Login</a>
             <button class="btn btn-outline-success">SignUp</button>
        </div>
     </div>
    </form>
</body>
</html>